SpeechRecognition
pyttsx3
Flask
requests
pywhatkit
wikipedia
webbrowser
pyjokes
pyautogui
asyncio
datetime
apscheduler
pyaudio
gtts
nest-asyncio
transformers
torch
pygetwindow
keyboard
pynput